body{
	width: 980px; 
	background-color: white;
}

h2{
	font-family: Helvetica; 
	font-size: 32px; 
	font-weight: bold; 
	color: white; 
	text-align: center;
	background-color: mediumspringgreen;
}
.trueheader {
		background-image: url("./pattern.jpeg");
        background-position: center;
        font-family: Helvetica;
        font-weight: bold;
        color: khaki;
        text-align: center;
        font-size: 70px;
       	height: auto;
    	width:100%;
   	 	padding: 0;
    	border: 1px solid;
    	background-size: 100%;
    	background-repeat: no-repeat;
    	margin-left: auto;
    	margin-right: auto;
}
.brushes{
		margin-top: 30px;
		background-color: mediumspringgreen;
		height: auto;
    	width:100%;
		margin-left: auto;
    	margin-right: auto;
    	font-family: Helvetica;
    	font-size: 32px;
    	color: white;
    	font-weight: bold;
}
.framesheader{
		margin-top: 30px;
		background-color: lightcoral;
		height: auto;
    	width:100%;
		margin-left: auto;
    	margin-right: auto;
    	font-family: Helvetica;
    	font-size: 32px;
    	color: white;
    	font-weight: bold;
}
.prices {
	font-family: Helvetica;
	font-weight: bold;
	color: blue;
}

p {
	font-family: Helvetica;
}

.paintheader {
		margin-top: 30px;
		background-color: skyblue;
		height: auto;
    	width:100%;
		margin-left: auto;
    	margin-right: auto;
    	font-family: Helvetica;
    	font-size: 32px;
    	color: white;
    	font-weight: bold;
}
.titles {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
}
